/* .graph-answers .div {
    background-color: #98b1d6;
    overflow: hidden;
    width: 1501px;
    height: 1024px;
    position: relative;
} */


.graph-answers {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.graph-answers .overlap-wrapper {
    background-color: white;
    overflow: hidden;
    width: 1437px;
    height: 1024px;
}

.graph-answers .overlap {
    position: relative;
    width: 1883px;
    height: 1403px;
    top: -189px;
    left: -192px;
}

.graph-answers .group {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 253px;
    left: 1408px;
}

.graph-answers .user-wrapper {
    position: relative;
    height: 64px;
    background-color: rgb(133, 116, 243);
    right: -125px;
}

.graph-answers .user {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 8px;
    left: 8px;
}

.graph-answers .overlap-group {
    position: absolute;
    width: 1827px;
    height: 0px;
    top: 108px;
    left: 0;
}

.graph-answers .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    position: absolute;
    top: 921px;
    left: 1032px;
}

.graph-answers .div-wrapper {
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 53px;
    position: relative;
    background-color: rgb(133, 116, 243);
    border-radius: 8px;
    top: 40px;
}

.graph-answers .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.graph-answers .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    position: absolute;
    top: 921px;
    left: 578px;
}

.graph-answers .div {
    position: absolute;
    width: 1501px;
    height: 0px;
    top: 290px;
    left: 307px;
    position: relative;
}

.graph-answers .text-wrapper-2 {
    position: absolute;
    width: 548px;
    top: 0;
    left: 331px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.graph-answers .circle-with-triangle {
    position: absolute;
    width: 387px;
    height: 402px;
    top: 555px;
    left: 1133px;
}

/* .graph-answers .polygon-wrapper {
    position: relative;
    width: 383px;
    height: 383px;
    top: 19px;
    left: 4px;
    background-color: #000000;
    border-radius: 191.5px;
} */

.graph-answers .polygon {
    position: absolute;
    width: 171px;
    height: 135px;
    top: 0px;
    left: 20px;
}

.graph-answers .graph-text {
    position: absolute;
    width: 1157px;
    height: 541px;
    top: 82px;
    left: 0;
    background-color: #1a7fc18a;
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
}

textarea[placeholder] {
    padding-left: 20px;
    padding-top: 20px;
}

.graph-answers .text-wrapper-3 {
    position: absolute;
    top: 60px;
    left: 70px;
    font-family: "Itim-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.graph-answers .double-square {
    position: absolute;
    width: 383px;
    height: 379px;
    top: 916px;
    left: 0;
    transform: rotate(-180deg);
}

/* .graph-answers .overlap-group-2 {
    position: relative;
    height: 379px;
} */

/* .graph-answers .rectangle {
    top: 54px;
    left: 0;
    background-color: #00000026;
    position: absolute;
    width: 326px;
    height: 325px;
} */

/* .graph-answers .rectangle-2 {
    top: 0;
    left: 57px;
    background-color: #000000;
    position: absolute;
    width: 326px;
    height: 325px;
} */

.graph-answers .triangle-with-circle {
    position: absolute;
    width: 302px;
    height: 291px;
    top: 0;
    left: 151px;
}

.graph-answers .overlap-2 {
    position: relative;
    width: 261px;
    height: 162px;
    top: 81px;
    left: 41px;
}

.graph-answers .img {
    position: absolute;
    width: 231px;
    height: 137px;
    top: 0;
    left: 0;
}

/* .graph-answers .ellipse {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 112px;
    left: 211px;
    background-color: #0000003d;
    border-radius: 25px;
} */

.graph-answers .screenshot {
    position: absolute;
    width: 104px;
    height: 92px;
    top: 20px;
    left: 52px;
    object-fit: cover;
}

.graph-answers .text-wrapper-4 {
    position: absolute;
    width: 692px;
    top: 272px;
    left: 610px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: rgb(133, 116, 243);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

/* .graph-answers .overlap-group-wrapper {
    position: absolute;
    width: 383px;
    height: 379px;
    top: 0;
    left: 1500px;
} */
/* Styling for the dropdown content */
#dropdownContent {
    border-radius: 16px;
    display: none;
    position: absolute;
    top: 102%; /* Position the dropdown below the user icon */
    left: -36px;
    background-color: white; /* Background color for the dropdown */
    border: none; /* Border for the dropdown */
    padding: 10px; /* Padding for the dropdown content */
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dropdownContent a {
    padding: 8px 16px; /* Adjusted link padding */
    text-decoration: none;
    display: block;
    color: #333;
    transition: background-color 0.3s; /* Smooth transition for link hover */
}

#dropdownContent a:hover {
    background-color: #f2f2f2; /* Background color on hover */
}
.footer-basic {
    padding:12px 0;
    background-color: black;
    color:#4b4c4d;
    height: 20px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:-1px;
    text-align:center;
    font-size:18px;
    color:#aaa;
    margin-bottom:0;
  }

  .logo {
    height: 20px;
    width: 20px;
  }

  .uploaded-questions {
    padding-top: 30px;
  }

  .submitButton{
    margin-top: 580px;
    width: 1179px;
    height: 40px;
    border-radius: 15px;
    background: rgb(133, 116, 243);
}

#timer {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    padding-left: 491px;
}